.pinkButton {
  width: 247px;
  height: 70px;
  border-style: none;
  background-color: $primaryColor;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
